body, html {
  height: 100%;
}

#homepage-bg {
  
  background-image: url("../images/home/DSC00995.jpg");

  
  height: 100%;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-text {
    position: absolute;
    top: 5em;
    right: 10em;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}


/* -------Header------------- */

.transparent-bg{
    background-color:rgba(255, 255, 255, 0.5);
    
    
}

li {
    list-style-type: none;
}

/* -------footer------------- */


.icon-color{
    color: rgb(19, 18, 18);
    padding-top: 0.5em;
}

#spacer {
    height: 42em;
    display: inline-block;
}

.li-alignment {
    text-align: center;
}

.bg-color {
    background-color: gray;
}

/* -------rider------------- */

#photo {
    width: 100%;
    height: auto;
}

/* -------contact.html------------- */

.img-position {
    padding-top: 7em;
}

.img-position-1 {
    margin-top: 10em;
    
    border-radius: 5px;
    
    width: 38em;
    height: 25em;
     
  
    
}

.contact-position {
    margin: 0;
    padding-top: 4em;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.img-shadow {
    box-shadow: 10px 10px 5px rgb(46, 45, 45);
}
