body, html {
  height: 100%;
}

#homepage-bg {
  
  background-image: url("../images/DSC00995.jpg");

  
  height: 100%;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* -------Header------------- */

.transparent-bg{
    background-color:rgba(255, 255, 255, 0.5);
    
    
}

li {
    list-style-type: none;
}

/* -------footer------------- */


.icon-color{
    color: rgb(19, 18, 18);
    padding-top: 0.5em;
}

#spacer {
    height: 42em;
    display: inline-block;
}

.li-alignment {
    text-align: center;
}

/* -------rider------------- */

#photo {
    width: 100%;
  height: auto;
}